<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <input type="submit" value="guardar" ide="guardar">  -->
    <div class="flex justify-between pt-6">
        <button
            wire:click="cerrarModal()"
            class="px-4 bg-gray-200 p-3 rounded text-black hover:bg-gray-300 font-semibold">
            Guardar 
        </button>
    
        <button> Cancelar </button>
        </body>
    </div>
    
</body>
</html>